<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
        <nav class="navbar navbar-expand-sm bg-brown navbar-default">
    <br><br><br><br><br><br><br>
    

    <nav class="navbar navbar-expand-lg navbar-dark  fixed-top" style="background-color: rgb(10, 10, 10);">
      <a class="navbar-brand" href="#">Stock</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto nav-pills">
          <li class="nav-item">
            <a class="nav-link " style="color: white;" routerLink="/importdata">importdata </a>
          </li>&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link "   style="color: white;" routerLink="/managecompany">managecompany</a>
          </li>&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link "  style="color: white;" routerLink="/manageexchange">manageexchange</a>
          </li>&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link "  style="color: white;" routerLink="/updateipodetails">updateipodetails</a>
          </li>
        </ul>
      </div>
    </nav>
  
    
    
     
    
    
    
    
    
    
    
    
    
    
    
    
    
        </nav>
      </body>
    </html>
    <router-outlet></router-outlet>
